html {
    background: linear-gradient(to top right, #e72f77, #833d7a);
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;/*Smaller version available of the screen height.*/
    font-size: medium;
}


.form-container {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form+p form p {
    text-align: center;
}

input, button {
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: medium;
}

button {
    background-color: #4572d9;
    color: #fff;
    cursor: pointer;
}

.error {
    color: #ff0000;
}

.hidden {
    display: none;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}